<footer class = "homePageFooter">
    <div class = "footerText">
      <span class = "text-muted">All Rights Reserved by @TripHoster.</span>  
        
      <span style = "float:right" >
        <a href="https://www.facebook.com/sahibdeep.singh.90/" target="_blank" class="fa fa-facebook">&nbsp;&nbsp;</a>
        <a href="https://twitter.com/" target="_blank" class="fa fa-twitter">&nbsp;&nbsp;</a>
        <a href="https://www.instagram.com/sahibdeep123/" target="_blank" class="fa fa-instagram">&nbsp;</a>
      </span>
    </div>
</footer>
